/* geocode.css */

.geocode-addressbar {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: transparent;
}

.geocode-addressbar:hover {
    background-position: right;
    background-repeat: no-repeat;
}

.geocode-details {
    border: 1px black solid;
    display: none;
    padding: 5px;
    margin: 5px;
    margin-top: 0px;
    border-top: 0px none;
}

.geocode-results:hover {
    background-color: #DEE8EE;
}

.geocode-usebutton {
    float: right;
}

#geocode-manual-save {
    float: right;
    margin-right: 15px; 
}

.star-accuracy {
    background:url(star.gif) repeat-x 0 -32px;
    height: 16px;
    float: right;
}

.star-accuracy-inactive {
    background:url(star.gif) repeat-x 0 0px;
    height: 16px;
    float: right;
}
